<?xml version="1.0"?>
<!--
/**
 * Copyright © Magmodules.eu. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<include xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_include.xsd">
    <group id="settings" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
        <label>Settings</label>
        <field id="finish_transaction" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Finish transaction on</label>
            <source_model>Boxplosive\Connect\Model\Config\Source\FinishTransaction</source_model>
            <config_path>boxplosive_connect/settings/finish_transaction</config_path>
        </field>
        <field id="use_multiple_discount" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Allow to use multiple discount</label>
            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            <config_path>boxplosive_connect/settings/use_multiple_discount</config_path>
        </field>
    </group>
</include>
